/*css para el proyecto "Capacitacion Objetiva"*/
body {
	font: 14px "Lucida Grande", "Helvetica", "Arial", "sans-serif";
	scrollbar-base-color: #C0C0C0;
	scrollbar-base-color: #C0C0C0;
	scrollbar-3dlight-color: #C0C0C0;
	scrollbar-highlight-color: #C0C0C0;
	scrollbar-track-color: #EBEBEB;
	scrollbar-arrow-color: black;
	scrollbar-shadow-color: #C0C0C0;
	scrollbar-darkshadow-color: #C0C0C0;
}
::-webkit-scrollbar { width: 7px; height: 7px; }
::-webkit-scrollbar-button { width: 0px; height: 0px; }
::-webkit-scrollbar-thumb { background: #e1e1e1; border: 17px none #ffffff; border-radius: 50px; }
::-webkit-scrollbar-thumb:hover { background: #ffffff; }
::-webkit-scrollbar-thumb:active { background: #ffffff; }
::-webkit-scrollbar-track { background: #1B5E20 ; border: 7px none #ffffff; border-radius: 50px; }
::-webkit-scrollbar-track:hover { background: #1B5E20 ; }
::-webkit-scrollbar-track:active { background: #1B5E20 ; }
::-webkit-scrollbar-corner { background: transparent; }

.row { margin-bottom: 0; }
/*--------------------Loader----------------------*/
.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);
	/* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(-100%);
	/* IE 9 */
	transform: translateX(-100%);
	/* Firefox 16+, IE 10+, Opera */
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);
	/* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(100%);
	/* IE 9 */
	transform: translateX(100%);
	/* Firefox 16+, IE 10+, Opera */
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.loader-section {
	display: flex;
	align-items: center;
	justify-content: center;
}
#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 50%;
	height: 100%;
	background: #075E20;
	color: white;
	z-index: 1000;
	-webkit-transform: translateX(0);
	/* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(0);
	/* IE 9 */
	transform: translateX(0);
	/* Firefox 16+, IE 10+, Opera */
}
#loader-wrapper .loader-section.section-left { left: 0; }
#loader-wrapper .loader-section.section-right { right: 0; }
.loaded #loader-wrapper {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	/* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateY(-100%);
	/* IE 9 */
	transform: translateY(-100%);
	/* Firefox 16+, IE 10+, Opera */
	-webkit-transition: all 0.3s 1s ease-out;
	transition: all 0.3s 1s ease-out;
}
/*--------texto responsivo-------*/
@media screen and (min-width: 900px){ .responsive-text { font-size: 24px; } }
@media only screen and (max-width: 900px){ .responsive-text { font-size: 1.714rem; } }
@media only screen and (max-width: 870px){ .responsive-text { font-size: 1.686rem; } }
@media only screen and (max-width: 840px){ .responsive-text { font-size: 1.658rem; } }
@media only screen and (max-width: 810px){ .responsive-text { font-size: 1.630rem; } }
@media only screen and (max-width: 780px){ .responsive-text { font-size: 1.602rem; } }
@media only screen and (max-width: 750px){ .responsive-text { font-size: 1.574rem; } }
@media only screen and (max-width: 720px){ .responsive-text { font-size: 1.546rem; } }
@media only screen and (max-width: 690px){ .responsive-text { font-size: 1.518rem; } }
@media only screen and (max-width: 660px){ .responsive-text { font-size: 1.490rem; } }
@media only screen and (max-width: 630px){ .responsive-text { font-size: 1.462rem; } }
@media only screen and (max-width: 600px){ .responsive-text { font-size: 1.434rem; } }
@media only screen and (max-width: 570px){ .responsive-text { font-size: 1.406rem; } }
@media only screen and (max-width: 540px){ .responsive-text { font-size: 1.378rem; } }
@media only screen and (max-width: 510px){ .responsive-text { font-size: 1.350rem; } }
@media only screen and (max-width: 480px){ .responsive-text { font-size: 1.322rem; } }
@media only screen and (max-width: 450px){ .responsive-text { font-size: 1.295rem; } }
@media only screen and (max-width: 420px){ .responsive-text { font-size: 1.268rem; } }
@media only screen and (max-width: 390px){ .responsive-text { font-size: 1.241rem; } }
@media only screen and (max-width: 360px){ .responsive-text { font-size: 1.214rem; } }
@media only screen and (max-width: 350px){ .responsive-text { font-size: 1rem; } }
@media only screen and (max-width: 340px){ .responsive-text { font-size: 1rem; } }
@media only screen and (max-width: 330px){ .responsive-text { font-size: 1rem; } }
/*--------texto responsivo-------*/
/*header*/
.cabecera { z-index: 5; }
.nav-wrapper { height: 53px!important; }
.img-fixed { padding-top: 10px; }
.titulo{ 
	font-family: 'Impact', 'Haettenschweiler', 'Franklin Gothic Bold', 'Arial Black', 'sans-serif';
	margin: 0px 0px 0px 0px; 
	padding-bottom: 3px;
	color: white;
}
/*contenido*/
/*Pagina Inicial*/
.presentacion, .perfil{ padding-bottom: 14%; }
.parrafo { 
	text-align: justify; 
	line-height: 1.5;
}
.btn { position: static; }
/*Login*/
#login-page { 
	display: flex;
	min-height: 90vh;
	justify-content: center;
	align-items: center;
}
.btn-login{ margin-bottom: 17px; }

/*Tab del perfil*/
#imgProfile {
	width: 22%;
	border-radius: 50%;
	position: absolute;
	padding: 1%;
	margin: 5%;
}
.tipoUsuario { margin-bottom: 15px; }
.btn-large i {font-size: 2rem; }
.icon { font-size: 19px; }
.card .card-action { border-top: 0px solid; }
.card-reveal {
	display: none; 
	transform: translateY(0px);
}
@media only screen and (max-width: 400px){ #btn-Cancel-Edit-Profile, #btn-Save-Edit-Profile{ width: 100%; } }
@media only screen and (max-width: 455px){ #btn-Cancel-Edit-Profile, #btn-Save-Edit-Profile{ width: 100%; } }
@media only screen and (max-width: 435px){ 
	.btn-floating.btn-large {
	width: 40px;
	height: 40px;
	}
	.btn-floating i { font-size: 1.6rem; }
	.btn-floating.btn-large i { line-height: 40px; }
	#imgProfile {
		width: 35%;
		margin-top: 5%;
		margin-left: 33%;
	}
}
/*-------------tabs--------------*/
.coleccion {
	padding-top: 3%;
}
@media only screen and (min-width: 0px){ 
	.boton-crear {
		width: 100%;
		left: 0;
		bottom: 30px;
		padding: 5px;
		position: fixed;
	}
	.fixed-button { left: 93%; }
}
@media only screen and (max-width: 900px){ .fixed-button { left: 89%; }}
@media only screen and (max-width: 700px){ .fixed-button { left: 85%; }}
@media only screen and (max-width: 600px){ .fixed-button { left: 83%; }}
@media only screen and (max-width: 550px){ 
	.fixed-button { left: 82%; }
	.btn-flat {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media only screen and (max-width: 530px){ .fixed-button { left: 87%; }}
@media only screen and (max-width: 400px){ .fixed-button { left: 84%; }}
@media only screen and (max-width: 350px){ .fixed-button { left: 81%; }}
@media only screen and (max-width: 660px){ .fixed-button { bottom: 25px; }}
@media only screen and (max-width: 530px){ .fixed-button { bottom: 10px; }}
@media only screen and (max-width: 355px){ .fixed-button { bottom: 35px; }}
.green-hover:hover {
	background-color: #a2d8a7;
	color: #00000f;
	-webkit-transition: .6s ease-out;
	-moz-transition: .6s ease-out;
	transition: .6s ease-out;
	-webkit-box-shadow: inset 0px 0px 65px -15px rgba(0,0,0,0.76);
	-moz-box-shadow: inset 0px 0px 65px -15px rgba(0,0,0,0.76);
	box-shadow: inset 0px 0px 65px -15px rgba(0,0,0,0.76);
}
/*-------------tabs--------------*/ 

/*-------------modal----------------*/
.btn-flat {
	display: flex;
	align-items: center;
}
/*-------------modal----------------*/

.horizontal-centering {
	display: flex;
	align-content: center;
}
.vertical-centering {
	display: flex;
	justify-content: center;
}
/*footer*/
.main-footer{
	width: 100%;
	left: 0;
	bottom:0;
	position: fixed;
	color: #f2f2f2;
	padding: 3px;
	z-index: 5;
}
/*estilos para la calificacion por estrellas*/
.rating:not(:checked) > input {
    /*position:absolute;*/
    /*top:-9999px;*/
    clip:rect(0,0,0,0);
}
.rating:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
}
.rating > input:checked ~ label { color: #1B5E20; }
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label { color: #1B5E20; }
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label { color: #1B5E20; }
.rating > label:active {
	position:relative;
	top:2px;
	left:2px;
}

[type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after {
	border: 0px solid transparent;
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
	background-color: transparent;
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
	border: 0px solid transparent;
}
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    padding-left: 0px;
	font-size: 2rem;
}